.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
}

.circle:hover,
.circle:active {
  background-color: grey;
}

h3 {
  text-align: center;
}

.chart text {
  fill: white;
  font: 12px sans-serif;
  text-anchor: end;
}

div.tooltip {
  position: absolute;
  text-align: center;
  vertical-align: middle;

  padding: 3px;
  font: 12px sans-serif;
  background: rgb(209, 220, 235);
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
}

.rect {
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  width: 20px;
  position: relative;

}

body {
  font: 12px sans-serif;

}

.line {
  fill: none;

  stroke-width: 2px;
}

.joiners {
  stroke: #66c2a5;
}

.leavers {
  stroke: #1f78b4;
}


.axisTitle {
  fill: none;
  stroke: rgb(100, 98, 98);
  shape-rendering: crispEdges;
}


div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: rgb(215, 219, 224);
  border: 0px;
  border-radius: 3px;
  pointer-events: none;
}